@use "@b/oi/css/_global.scss" as *;
@use "@b/oi/css/_colors.scss" as *;
@use "@b/oi/css/_layout.scss" as *;
@use "@b/oi/css/_mixins.scss" as *;
@use "@b/oi/css/_mobile.scss" as *;
@use "@b/oi/css/_panel.scss" as *;
@use "@b/oi/css/_components.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');

.notation {
	font-family: 'Noto Music';
}

#melody-panel {
	--ui-scale: 12;
	--column-width: 80;
	--notes-per-row: 4;
	--default-beat: 4;

	&.b1n, &.b4n, &.b8n, &.b16n {
		grid-column: span 2;
	}

	&.note-display {
		.b1n { grid-column: span calc(var(--default-beat) / 1); }
		// &.b1ndot { grid-column: span calc(var(--default-beat) / 1 + var(--default-beat) / 2); }

		.b2n { grid-column: span calc(var(--default-beat) / 2); }
		// &.b2ndot { grid-column: span calc(var(--default-beat) / 2 + var(--default-beat) / 4); }
		
		.b4n { grid-column: span calc(var(--default-beat) / 4); }
		// &.b4ndot { grid-column: span calc(var(--default-beat) / 4 + var(--default-beat) / 8); }
		
		.b8n { grid-column: span calc(var(--default-beat) / 8); }
		// &.b8ndot { grid-column: span calc(var(--default-beat) / 8 + var(--default-beat) / 16); }

		.b16n { grid-column: span calc(var(--default-beat) / 16); }
	}
}

// #melody *,
.part * {
	font-family: monaco, Consolas;
	font-size: calc(var(--ui-scale) * 1px);
}

// #melody,
.panel .row.part {

	display: grid;
	grid-template-columns: repeat(
		var(--notes-per-row),
		minmax(0, 1fr),
	);
	grid-gap: 2px;
	// justify-content: space-around;
	padding-top: 2px;
	margin-right: 0;

	.note-collection {

		// width: calc(var(--column-width) * 1px);

		// border: 1px dotted $text-color;
		background: #cbcbff;
		
		overflow: hidden;
		word-break: break-word;
		min-width: 0;
		
		// padding: 2px;
		// margin: 2px;
		position: relative;
		display: block;
		margin-left: 0;
		margin-right: 0;
		

		input[type=text] {
			margin: 0;
			padding: 0;
			// min-width: 3em;
			text-align: left;

			&:focus-visible {
				border: unset;
				outline: unset;
				background: $ui-highlight;
				color: white;
			}
		}

		.ui-collection {
			flex-wrap: nowrap;
		}

		.pitch-edit { 
			&, &:focus-visible {
				border-bottom: 1px solid $text-color;
			}

		}

		.beat-edit,
		.pitch-edit {
			margin: 0;
			input[type=text] { 
				width: 2.5em; 
				padding: 2px;
			}
		}

		button.remove,
		button.end,
		button.rest,
		button.double {
			grid-column: 2 / span 1;
			grid-row: 1 / span 1;
			background: darkgray;
			// color: white;
			// margin: 0.25em;
			right:  0;
			bottom: 0;
			position: absolute;
			// font-size: 0.75em;
			&:hover {
				background: $ui-select;
			}
			border-radius: 0;
		}

		button.double,
		button.rest,
		button.end {
			top: 0;
			bottom: auto;
		}

		button.end {
			right: 14px;
		}

		button.rest {
			right: 28px;
		}
	}
}

#sequence-grid {
	--rows: 1;
	--cols: 1;
	display: grid;
	grid-template-columns: repeat(var(--cols), 1fr);
	grid-template-rows: repeat(var(--rows), 20px);

	.toggle-check {
		height: unset;
	}
}

#monitor-panel {

	.row {
		margin-bottom: 0;
		flex-wrap: wrap;
	}

	#monitor-row {
		flex-wrap: wrap;
	}

	.monitor-prop.ui-collection {
		// margin-right: 0.5em;
		// border-right: 1px dotted;
		padding-right: 0.5em;
	}

	table {
		// text-align: left;
		th { font-weight: normal; }
	}

	.collapsed {
		visibility: collapse;
	}

	label.prop-value {
		white-space: normal;
		text-align: left;
		margin-left: 0.5em;
	}

	label {
		margin-right: 0 !important;
	}
}

.block .number-list {
	display: flex;
}

.prop-edit {
	background-color: $border-color;
	padding: 2px 4px;
}