@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');
@import '../../ui/css/style.scss';

.notation {
	font-family: 'Noto Music';
}

#melody-panel {
	--ui-scale: 12;
}

// #melody *,
.part * {
	font-family: monaco, Consolas;
	font-size: calc(var(--ui-scale) * 1px);
}

#melody {
	--note-width: 80;
	--notes-per-row: 4;
	--column-width: 80;
	--num-rows: 1; 
	--row-height: 60;
	--default-beat: 4;
}

// #melody,
.panel .row.part {

	display: grid;
	grid-template-columns: repeat(
		var(--notes-per-row), 
		calc(var(--column-width) * 1px)
	);
	grid-gap: 2px;
	padding-top: 2px;
	// grid-template-rows: repeat(var(--num-rows), calc(var(--row-height) * 1px));
	// grid-template-rows: repeat(var(--num-rows), auto);


	.note-collection {

		// border: 1px dotted $text-color;
		background: $border-color;

		// padding: 2px;
		// margin: 2px;
		position: relative;

		input[type=text] {
			margin: 0;
			padding: 0;
			// min-width: 3em;
			text-align: left;

			&:focus-visible {
				border: unset;
				outline: unset;
				background: $ui-highlight;
				color: white;
			}
		}

		.pitch-edit { 
			&, &:focus-visible {
				border-bottom: 1px solid $text-color;
			}

		}

		.beat-edit,
		.pitch-edit {
			margin: 0;
			.btn { margin: 0; }
			input[type=text] { 
				width: 2.5em; 
				padding: 2px;
			}
		}

		.remove-btn,
		.end-btn,
		.rest-btn,
		.double-btn {
			grid-column: 2 / span 1;
			grid-row: 1 / span 1;
			background: $bg-color;
			// color: white;
			margin: 0.25em;
			right:  0;
			bottom: 0;
			position: absolute;
			font-size: 0.75em;
			&:hover {
				background: $ui-select;
			}
		}

		.double-btn,
		.rest-btn,
		.end-btn {
			top: 0;
			bottom: auto;
		}

		.end-btn {
			right: 12px;
		}

		.rest-btn {
			right: 24px;
		}

		&.b1n { grid-column: span calc(var(--default-beat) / 1); }
		&.b1ndot { grid-column: span calc(var(--default-beat) / 1 + var(--default-beat) / 2); }

		&.b2n { grid-column: span calc(var(--default-beat) / 2); }
		&.b2ndot { grid-column: span calc(var(--default-beat) / 2 + var(--default-beat) / 4); }
		
		&.b4n { grid-column: span calc(var(--default-beat) / 4); }
		&.b4ndot { grid-column: span calc(var(--default-beat) / 4 + var(--default-beat) / 8); }
		
		&.b8n { grid-column: span calc(var(--default-beat) / 8); }
		&.b8ndot { grid-column: span calc(var(--default-beat) / 8 + var(--default-beat) / 16); }
		
		// &.b16n { grid-column: span calc(var(--default-beat) / 16); }
		// &.b32n { grid-column: span calc(var(--default-beat) / 32); }
	}
}

header {
	margin: 1rem;
}

#sequence-grid {
	--rows: 1;
	--cols: 1;
	display: grid;
	grid-template-columns: repeat(var(--cols), 1fr);
	grid-template-rows: repeat(var(--rows), 20px);
}

#monitor-panel {

	#mRow {
		flex-wrap: wrap;
	}

	.monitor-prop.ui-collection {
		margin-right: 0.5em;
		border-right: 1px dotted;
		padding-right: 0.5em;
	}

	label.prop-value {
		white-space: normal;
		text-align: left;
	}

	label {
		margin-right: 0 !important;
	}
}